.shadow--frame {
    filter: drop-shadow(-10px 10px 20px rgba(60, 5, 5, 0.25));
}

body:has(input[type="checkbox"]:checked) .shadow--frame{
    filter: drop-shadow(-10px 10px 20px rgba(60, 5, 95, 0.25));
}

.shadow--shape {
    filter: blur(5px);
    opacity: 0.25;
}